@use 'base/variables' as v;
@use 'base/mixins' as m;

.contact {
    @include m.contenedor;
}

.seccion {
    h1 {
        text-align: center;
        padding-top: 2rem;
    }
}

.contenido-contacto {
    img {
        width: 3rem;
    }

    p {
        color: v.$celeste;
        font-weight: 600;
    }
}

.formulario-contacto {
    display: flex;
    flex-direction: column;

    input,
    textarea {
        width: 100%;
        padding: 1rem;
        border: solid 1px;
        border-radius: 1rem;
    }

    input {
        height: 4rem;
        margin-bottom: 1.5rem;
    }

    input[type="submit"] {
        @include m.botonSubmit;
    }
}

.contacto {
    margin-bottom: 3rem;

    @include m.telefono{
        @include m.grid(2, 1rem);
    }
    
    @include m.tablet{
        @include m.grid(3, 1rem);
    }
}

.socials {
        display: flex;
        align-items: center;
        gap: 1rem;

        @include m.telefono {
            svg {
                transform: translateY(5px);
                transition: transform 0.5s ease, box-shadow 0.3s ease;
    
                &:hover {
                    cursor: pointer;
                    transition: transform 0.5s ease, box-shadow 0.3s ease;
                    transform: scale(1);
                }
            }
        }
    }

.info-contacto {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;

    @include m.tablet {
        margin-bottom: 3rem;
    }
}
