@use 'base/variables' as v;
@use 'base/mixins' as m;

.header {
    background-color: v.$blanco;

    .enlaces{
        @include m.botonNavegacion;
    }

    &.inicio {
        .navegacion-principal {
            a {
                display: none;
            }

            // Mostrar el enlace de cerrar sesión
            a.cerrar-sesion {
                display: inline; // o block, según lo necesites
            }
        }
    }


    @include m.tablet {
        &.fixed {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            box-shadow: .1rem .2rem .3rem;
            z-index: 10;
        }
    }

    .contenido-header {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include m.tablet {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }

    h1 {
        color: v.$dark1;
        font-size: 3rem;
        text-align: center;
        margin: 0;

        &:hover {
            cursor: pointer;
        }
    }
}

.navegacion-principal {
        visibility: hidden;
        opacity: 0;
        max-height: 0;
        transition: visibility .3s ease-in-out, opacity 0.3s linear, max-height 0.4s ease-out;

    display: flex;
    align-items: center;
    gap: 2rem;
    flex-direction: column;

    @include m.tablet {
        flex-direction: row;
        opacity: 1;
        visibility: visible;
        max-height: 800px;
    }

    a{
        @include m.botonNavegacion;
    }
}

//menu hamburguesa
.mobile-menu {
    @include m.tablet {
        display: none;
    }

    img {
        width: 5rem;
    }
}

.mostrar {
    visibility: visible;
    opacity: 1;
    max-height: 800px;
    transition: visibility .3s ease-in-out, opacity 0.3s linear, max-height 0.4s ease-out;
}