@use 'base/mixins' as m;

.about {
    @include m.contenedor;
}

.sobre-mi {
    @include m.tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
        place-items: center;
    }

    p{
        margin-bottom: 1rem;
    }
}

.tecnologias {
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 0;
        gap: 1rem;

        li {
            transition: transform 300ms, box-shadow 300ms ease;
            border-radius: 2rem;
            padding: .5rem 1rem;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
            margin-bottom: 1rem;
            
            list-style: none;

            &:hover {
                transform: scale(1.05);
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
                cursor: pointer;
            }
        }

        @include m.tecnologias;
    }
}